# Ignore all Python code
app/
app/utils/
app/ffmpeg/
*.py
__pycache__/

# Ignore sensitive files
.env
conversations.db

# Ignore virtual environments
venv/

# Ignore logs
*.log

# Ignore editor configs
.vscode/
.idea/
.DS_Store
